# Ignore Python cache and venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.bak
*.tmp

# Virtual environment
venv/

# Env variables
.env
.env.*

# System files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Logs
*.log

# Build artifacts
*.egg-info/
dist/
build/

# Node (in case you add anything later)
node_modules/
